<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AssResMapper">

    <sql id="tableName">
          "ASS_RESULT"
     </sql>

    <sql id="field">
          "ID",
          "F_SCO",
          "ASS_DATE",
          "ASS_OBJECT",
          "QUALITY",
          "EFFICIENCY",
          "CHECKWORK",
          "ACTION",
          "RESPONSIBILITY",
          "CREATIVE",
          "NOTE",
          "ASS_LEVEL",
          "PLANNAME",
          "ADJUSTER"
     </sql>

    <sql id="fieldValue">
          #{ID},
          #{F_SCO},
          #{ASS_DATE},
          #{ASS_OBJECT},
          #{QUALITY},
          #{EFFICIENCY},
          #{CHECKWORK},
          #{ACTION},
          #{RESPONSIBILITY},
          #{CREATIVE},
          #{NOTE},
          #{ASS_LEVEL},
          #{PLANNAME},
          #{ADJUSTER}
     </sql>

    <select id="AssResList" resultType="pd">
        select * from
        <include refid="tableName"/>
        where ASS_OBJECT in
        <foreach collection="list" open="(" close=")" separator="," item="assobj" index="i">
            #{assobj}
        </foreach>
    </select>

<!--    <select id="AssResultList" resultType="pd" parameterType="pd">
        select * from ASS_RESULT where ASS_OBJECT in
        <foreach collection="objs" open="(" close=")" separator="," item="assobj" index="i">
            #{assobj}
        </foreach>
        <if test="ASS_DATE !=null">
            and ASS_DATE=#{ASS_DATE}
        </if>
    </select>-->

    <select id="AssResultList" resultType="pd" parameterType="pd">
        select * from ASS_RESULT where  ADJUSTER = #{userName} or ASS_OBJECT = #{userName}
    </select>

    <insert id="addResult" parameterType="pd">
        insert into ASS_RESULT
        (
        <include refid="field"/>
        )
        values (
        <include refid="fieldValue"/>
        )
    </insert>

    <update id="upSco" parameterType="pd">
		update ASS_RESULT set
		"F_SCO"=#{F_SCO},
		"QUALITY"=#{QUALITY},
		"EFFICIENCY"=#{EFFICIENCY},
		"CHECKWORK"=#{CHECKWORK},
		"ACTION"=#{ACTION},
		"RESPONSIBILITY"=#{RESPONSIBILITY},
		"CREATIVE"=#{CREATIVE},
		"ASS_DATE"=#{ASS_DATE},
		"ASS_LEVEL"=#{ASS_LEVEL}
		where "ID"=#{ID} 
	</update>
</mapper>
