<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SysCodeMapper">


     <sql id="tableName">
          "SYSTEMCODEMST"
     </sql>

     <sql id="field">
          "SYSTEMCODESEQ",
          "SYSTEMCODETYPE",
          "SYSTEMCODENAME",
          "SYSTEMCODEVALUETYPE",
          "CHANGEMARK",
          "NOTE"      
     </sql>
     
     <sql id="fieldValue">
          #{SYSTEMCODESEQ},
          #{SYSTEMCODETYPE},
          #{SYSTEMCODENAME},
          #{SYSTEMCODEVALUETYPE},
          #{CHANGEMARK},
          #{NOTE}
     </sql>
     

    <select id="sysCodePage" parameterType="pd" resultType="pd">
        <if test="start!=null and limit!=null">
        SELECT *
        FROM (SELECT ROWNUM r,t1.* From <include refid="tableName"/> t1 where rownum &lt; #{start}+1 + #{limit} ) t2  where t2.r &gt;=#{start}+1
        </if>
    </select>
    
    <select id="sysCodeOne" resultType="pd" parameterType="string">
            select <include refid="field"/>  from <include refid="tableName"/>  where "SYSTEMCODESEQ" =#{ID}
    </select>
    
     <select id="sysCodeList" resultType="pd" >
            select <include refid="field"/>  from <include refid="tableName"/>  
    </select>
       
    <insert id="addSysCode" parameterType="pd">
    <selectKey resultType="int" order="BEFORE" keyProperty="SYSTEMCODESEQ">
             select max(SYSTEMCODESEQ)+1 from <include refid="tableName"/>
    </selectKey>
            insert into <include refid="tableName"/> ( <include refid="field"/> )
            values ( <include refid="fieldValue"/> ) 
    </insert>
    
    <update id="modSysCode" parameterType="pd">
            update <include refid="tableName"/> set 
                     "SYSTEMCODETYPE"=#{SYSTEMCODETYPE},
			         "SYSTEMCODENAME"=#{SYSTEMCODENAME},
			         "SYSTEMCODEVALUETYPE"=#{SYSTEMCODEVALUETYPE},
			          "CHANGEMARK"=#{CHANGEMARK},
			          "NOTE"=#{NOTE},
            where "SYSTEMCODESEQ"=#{SYSTEMCODESEQ}
    </update>
    
      <!--根据主键删除-->
    <delete id="batchDelSysCode"  parameterType="string">
    delete from <include refid="tableName"/>
     	where  "SYSTEMCODESEQ"  in
    <foreach collection="list" item="item" index="index" open="("  separator=","  close=")">
    			#{item} 		
    </foreach>	
    </delete>
    
    
    


 

    
</mapper>
